img{
    max-width: 100%;
}

main{
    margin-left:auto;
    margin-right:auto;
}

nav{
    list-style: circle;
    padding-left: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav{
    padding: 10px;
    border-bottom: 1px solid black;
}

.seele-text {
    font-style: italic;
}


main{
    color: rgb(230, 64, 114);
    text-decoration: line-through;
    background-color: rgb(38, 47, 78);
    display:inline-flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .HG-text,
    .HI3-text,
    .HSR-text {
        font-style:inherit;
        color: rgb(71, 13, 31);
        text-decoration: none;
    }
    main{
        background-color: beige;
    }
    nav li{
        display: inline-block;
        flex-direction: row;
    }

}

@media (min-width: 900px){
    .HG-text,
    .HI3-text,
    .HSR-text {
        font-style:oblique;
        color: rgb(132, 221, 22);
    }
    main{
        background-color: rgb(215, 59, 158);
    }
    nav li{
        display:inline-table;
        flex-direction:column-reverse;
    }
}