img{
    /* width: 255px; */
    max-width: 100%;
}

main{
    /* width: 768px; */
    margin-left:auto;
    margin-right:auto;
    /* background-color: antiquewhite; */
}

nav{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

nav{
    /* display: inline-block; */
    padding: 10px;
    border-bottom: 1px solid black;
}

.seele-text {
    font-style: italic;
}


main{
    color: rgb(230, 64, 114);
    text-decoration: none;
    background-color: rgb(38, 47, 78);
}

@media (min-width: 600px) {
    .HG-text,
    .HI3-text,
    .HSR-text {
        font-style:inherit;
        color: rgb(28, 39, 55);
    }
    main{
        background-color: beige;
        text-decoration: line-through;
    }

}

@media (min-width: 900px){
    .HG-text,
    .HI3-text,
    .HSR-text {
        font-style:oblique;
        color: rgb(221, 22, 22);
    }
}