img{
    max-width: 100%;
}

main{
    margin-left:auto;
    margin-right:auto;
}

p{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

nav{
    padding: 10px;
    border-bottom: 1px solid black;
}

.seele-text {
    font-style: italic;
}


main{
    color: rgb(230, 64, 114);
    text-decoration: none;
    background-color: rgb(38, 47, 78);
}

@media (min-width: 600px) {
    .HG-text,
    .HI3-text,
    .HSR-text {
        font-style:inherit;
        color: rgb(71, 13, 31);
    }
    main{
        background-color: beige;
        text-decoration: line-through;
    }

}

@media (min-width: 900px){
    .HG-text,
    .HI3-text,
    .HSR-text {
        font-style:oblique;
        color: rgb(221, 22, 22);
    }
}